@media screen and (max-width:1440px) {
    .header{
        width:100%;
    }
    .slider__indicators{
        left:2%;
    }
    .content-block2{
        width:100%;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        height:100vh;
    }
    .text-about{
        text-align: center;
    }
    .img{
        margin-top:100px;
    }
    .content-block3{
        width:100%;
    }
    .blocks-analysis{
        width:600px;
        height:900px;
        flex-wrap: wrap;
    }
    .shopping-escort{
        margin-top:100px;
        width:500px;
        flex-wrap: wrap;
    }
    #block4{
        padding:0;
    }
    .content-block4{
        width:100%;
        height:100vh;
        flex-direction: column;
        align-items: center;
        flex-direction: space-between;
    }
    .left-block4{
        text-align: center;
        margin-bottom:50px;
    }
    .left-side4{
        height:850px;
    }
    .text-left-block{
        width:100%;
    }
    .header-block4{
        width:100%;
        margin:0;
        text-align: center;
    }
    .content-block5{
        width:100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    .container-prices-blocks{
        width:100%;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        height:1800px;
        background:none;
        margin:0;
    }
    .type-card1{
        margin:0;
        text-align: center;
    }
    .type-card2{
        margin:0;
        text-align: center;
    }
    .content-block6{
        width:100%;
    }
    .container-blog{
        flex-direction: column;
        align-items: center;
        margin:0;
    }
    .blog{
        margin-top:40px;
        height:700px;
    }
    .margin6{
        margin-bottom:0;
    }
    .content-block7{
        width:100%;
        height:1800px;
        justify-content: center;
    }
    .footer{
        width:100%;
        justify-content: flex-end;
    }
}
@media screen and (max-width:1140px) {
    .container-blog{
        width:100%;
    }
}
@media screen and (max-width:535px){
    .form-container form{
        width:100%;
    }
    .icon-container{
        width:100%;
    }
}
