@media screen and (max-width:1500px) {
    .header{
        width:100%;
    }
    .slider__indicators{
        left:2%;
    }
    #block1{
        width:100%;
        height: calc(var(--vh, 1vh) * 100);
    }
    #block2{
        height: calc(var(--vh, 1vh) * 100);   
    }
    #block3{
        height: calc(var(--vh, 1vh) * 100);   
    }
    #block4{
        height: calc(var(--vh, 1vh) * 100); 
    }
    #block5{
        height: calc(var(--vh, 1vh) * 100);   
    }
    #block6{
        height: calc(var(--vh, 1vh) * 100);   
    }  
    #block7{
        height: calc(var(--vh, 1vh) * 100);   
    }
    .content-block2{
        width:100%;
    }
    .content-block3{
        width:100%;
        height: calc(var(--vh, 1vh) * 100);
    }
    .blocks-analysis{
        width:100%;
    }
    .shopping-escort{
        width:100%;
    }
    .content-block4{
        width:100%;
        height: calc(var(--vh, 1vh) * 100);
    }
    .text-left-block{
        width:100%;
    }
    .header-block4{
        width:100%;
    }
    .content-block5{
        width:100%;
        height: calc(var(--vh, 1vh) * 100);
    }
    .container-prices-blocks{
        width:100%;
    }
    .content-block6{
        width:100%;
        height: calc(var(--vh, 1vh) * 100);
    }
    .content-block7{
        width:100%;
    }
}

@media screen and (max-width:1140px) {
    .container-blog{
        width:100%;
    }
}

@media screen and (max-width:980px) {
    .slider__indicator{
        width:15px;
        height:15px;
    }
    .header{
        height:130px;
    }
    .links-header{
        width:300px;
        padding-left:15px;
    }
    .links-header a{
        font-size:26px;
    }
    .logo a{
        font-size:32px;
    }
    .burger-header{
        padding-right:15px;
    }
    .your-stylist-text{
        font-size:32px;
    }
    .arrow-img img{
        width:70px;
        height:70px;
    }
    .content-block2{
        height:1900px;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .text-about-me{
        height:900px;
        width:700px;
    }
    .text-about{
        height:800px;
    }
    .img{
        margin-top:100px;
    }
    .header-text-about-me{
        font-size:32px;
    }
    .text-about{
        text-align: center;
        line-height: 45px;
        font-size:26px;
        width:600px;
    }
    .header-block3{
        font-size:32px;
    }
    .analysis-wardrobe{
        font-size:32px;
    }
    .text-analysis{
        width:300px;
        font-size:26px;
    }
    .block-analysis{
        width:300px;
    }
    .blocks-analysis{
        width:800px;
        height:900px;
        flex-wrap: wrap;
    }
    .shopping-escort{
        margin-top:100px;
        width:800px;
        flex-wrap: wrap;
    }
    .content-block3{
        padding-top:20px;
    }
    .content-block4{
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    .left-block4{
        margin-bottom:50px; 
    }
    .header-block4{
        margin-left:0;
        margin-bottom:40px;
        font-size:32px;
    }
    #block4{
        padding-top:20px;
    }
    .left-side4{
        text-align: center;
        height:1000px;
        width:700px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .text-left-block{
        font-size:26px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .content-block5{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .header-block5{
        padding-top:20px;
        font-size:32px;
    }
    .container-prices-blocks{
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
        height:1400px;
        background:none;
        margin-top:200px;
    }
    .header-price-block{
        margin-top:0;
        margin-bottom:10px;
        font-size:32px;
        width:100%;
        text-align: center;
    }
    .price-block{
        width:360px;
        height:450px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .price{
        font-size:26px;
    }
    .type-card1{
        margin:0;
        text-align: center;
    }
    .type-card2{
        margin:0;
        text-align: center;
    }
    .header-block6{
        padding-top:20px;
        font-size:32px;
    }
    .title-block6{
        font-size:26px;
        width:100%;
    }
    .container-blog{
        margin-top:150px;
        align-items: center;
        width:800px;
        height:1500px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
    }
    .blog{
        margin-top:40px;
        height:600px;
    }
    .text-blog{
        font-size:26px;
    }
    .button-blog{
        font-size:26px;
        width:160px;
        height:60px;
    }
    .margin6{
        margin-bottom:0;
    }
    .content-block7{
        padding:0;
        height:1800px;
        justify-content: center;
    }
    .form-container form{
        height:510px;
        width:800px;
    }
    .header-block7{
        font-size:32px;
    }
    .title-block7{
        font-size:30px;
    }
    .input-7{
        width:400px;
        height:90px;
        font-size:26px;
    }
    .text-area-7{
        width:400px;
        height:140px;
        font-size:26px;
    }
    .post-button{
        width:350px;
        height:90px;
        font-size:26px;
    }
    .policy-text{
        width:100%;
        font-size:18px;
    }
    .footer{
        height:80px;
        text-align: right;
        bottom:-5px;
    }
    .footer-text{
        height: 100%;
        font-size:18px;
        display: flex;
        align-items: center;
    }
}
@media screen and (max-width:535px){
    .form-container form{
        width:100%;
    }
    .icon-container{
        width:100%;
    }
}