@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');
*{
    box-sizing: border-box;
    font-family: playfair display,serif;
    margin:0 auto;
    padding:0;
}
html{
    scroll-behavior: smooth;
}
.container{
    width:100%;
    height:100%;
}
.element-animation{
    opacity: 0;
    transform: translateY(20px);
}
.element-animation.element-show {
    opacity: 1;
    transition: all 1.5s;
    transform: translateY(0%);
}
.hide{
    display: none;
}
.show{
    display:block;
}
#block1{
    width:100%;
    height:100vh;
}
.content-block1{
    width:100%;
    height:100vh;
    background-image:url('img/me.jpg');
    background-size:cover;
    background-position:center;
}
.header{
    width:100%;
    height:90px;
    background-color:#333333;
    display:flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
}
.content-header{
    height:91px;
    width:1440px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.logo a{
    font-size:26px;
    font-weight: 600;
    color:#FFFFFF;
    text-decoration: none;
    margin-right:160px;
}
.links-header{
    margin:0;
    width:240px;
    height:91px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.burger-header{
    margin:0;
}
.link a{
    color:#FFFFFF;
    text-decoration: none;
}
.link{
    margin:0;
    font-size:18px;
    transition:.1s;
}
.link:hover{
   transform: scale(1.05);
}
.your-stylist{
    height:100vh;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color:#FFFFFF;
}
.your-stylist-text{
    font-size:24px;
    font-weight:500;
    margin-bottom:40px;
    text-align: center;
}
.arrow-img{
    margin-bottom:10px;
}
.modal-window{
    width:100%;
    height:100vh;
    background-color: #333333ad;
    position:absolute;
    top:0;
    z-index: 2;
}
.container-modal-block{
    width:400px;
    height:600px;
    background-color: #FFFFFF;
    position: relative;
    top:20%;
}
#block2{
    height:100vh;
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.content-block2{
    height:733px;
    width:1440px;
    display:flex;
    align-items: flex-start;
}
.img2{
    width:500px;
    height:750px;
}
.text-about-me{
    width:462px;
    height:660px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.header-text-about-me{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:24px;
    font-weight: 800;
    width:229px;
    height:30px;
    color:#333333;
    letter-spacing:1px;
    margin-bottom:50px;
}
.text-about{
    text-align: right;
    margin:0;
    letter-spacing: 1px;
    width:417px;
    height:665px;
    line-height:35px;
    font-size:18px;
    font-weight: 400;
    color:#333333;
}
#block3{
    height:100vh;
    width:100%;
}
.content-block3{
    height:100vh;
    width:1440px;
    padding-top:80px;
}
.header-block3{
    font-size:22px;
    font-weight:500;
    letter-spacing: 2px;
    text-align: center;
    color:#333333;
    margin-bottom:80px;
}
.analysis-wardrobe{
    font-size:20px;
    font-weight: 400;
    letter-spacing: 2px;
    text-align: center;
    color:#333333;
}
.blocks-analysis{
    width:1440px;
    height:250px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:90px;
    color:#333333;
}
.block-analysis{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width:230px;
    height:311px;
    text-align: center;
}
.text-analysis{
    margin-top:15px;
    font-size:18px;
    font-weight: 400;
    letter-spacing: 1px;
}
.shopping-escort-text{
    text-align: center;
}
.shopping-escort{
    margin-top:50px;
    height:312px;
    width:1440px;
    display:flex;
    justify-content: center;
    align-items: center;
    color:#333333;
}
#block4{
    padding-top:43px;
    height:100vh;
    width:100%;
}
.content-block4{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width:1440px;
    height:100vh;
}
.left-side4{
    width:850px;
    height:720px;
    margin:0;
}
.header-block4{
    width:337px;
    height:37px;
    font-size:22px;
    letter-spacing: 2px;
    font-weight: 400;
    color:#333333;
    margin:0;
    margin-left:180px;
}
.left-block4{
    width:551px;
    height:374px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.margin4{
    margin-top:28px;
}
.text-left-block{
    margin:0;
    height:126px;
    width:546px;
    border-bottom:solid 1px #333333;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size:18px;
    letter-spacing: 1px;
    font-weight: 400;
    color:#333333;
}
.border-left-block{
    width:745px;
}
.border4{
    border:none;
}
.right-block4{
    margin:0;
    margin-top:50px;
}
#block5{
    width:100%;
    height:100vh;
    background: url("img/background-image5.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
}
.content-block5{
    width:1440px;
    height:100vh;
}
.header-block5{
    color:#333333;
    font-size:22px;
    font-weight: 400;
    letter-spacing: 1px;
    text-align: center;
    padding-top:50px;
    letter-spacing: 2px;
}
.container-prices-blocks{
    height:382px;
    width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top:58px;
    background:url("img/Vector\ 4.png");
    background-repeat: no-repeat;
    background-position:center;
}
.price-block{
    width:241px;
    height:316px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
    background-color: #ffffff;
    -webkit-box-shadow: 5px 2px 15px 7px rgba(51, 51, 51, 0.25);
    -moz-box-shadow: 5px 2px 15px 7px rgba(51, 51, 51, 0.25);
    box-shadow: 5px 2px 15px 7px rgba(51, 51, 51, 0.25);
}
.header-price-block{
    color:#333333;
    font-size:22px;
    font-weight: 400;
    margin-top:11px;
    text-align: center;
    width:231px;
    height:51px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.price{
    margin-top:25px;
    font-size:18px;
    font-weight: 400;
    color:#333333;
}
.type-card1{
    margin-top:63px;
}
.type-card2{
    margin-bottom:63px;
}
.photo-block{
    width:100%;
    height:467px;
    display:flex;
    justify-content: center;
    align-items: center;
}
#block6{
    width:100%;
    height:100vh;
}
.content-block6{
    width:1440px;
    height:100vh;
}
.header-block6{
    color:#333333;
    font-size:22px;
    font-weight: 500;
    letter-spacing: 2px;
    text-align: center;
    padding-top:50px;
}
.title-block6{
    width:560px;
    height:88px;
    font-size: 18px;
    font-weight: 400;
    color:#333333;
    line-height: 50px;
    letter-spacing: 1px;
    text-align: center;
    margin-top:45px;
}
.container-blog{
    height:565px;
    width:1136px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top:70px;
}
.blog{
    width:301px;
    height:526px;
    margin:0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.margin6{
    margin-bottom:40px;
}
.button-blog{
    width:130px;
    height:40px;
    background-color: #FFFFFF;
    border:solid 1px #333333;
    color:#333333;
    font-size:18px;
    letter-spacing: 2px;
    font-weight: 400;
    cursor:pointer;
    transition:.75s;
}
.button-blog:hover{
    transition: .5s;
    background-color: #333333;
    color: #FFFFFF;
}
.text-blog{
    text-align: center;
    margin:26px 0;
    color:#333333;
    font-size:18px;
    font-weight: 400;
}
#block7{
    width:100%;
    height:100vh;
}
.content-block7{
    width:1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.header-block7{
    font-size:22px;
    letter-spacing: 2px;
    font-weight: 400;
    color:#333333;
    text-align: center;
    padding-top:42px;
}
.title-block7{
    margin-top:33px;
    font-size:18px;
    font-weight: 400;
    letter-spacing: 2px;
    color:#333333;
    text-align: center;
}
.icon-container{
    width:405px;
    height:50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top:63px;
}
.icon-container img {
    margin:0;
}
.form-container form{
    width:535px;
    height:415px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top:74px;
}
.input-7{
    width:300px;
    height:54px;
    color:#333333;
    font-size:16px;
    font-weight: 400;
    border:1px solid #333333;
    margin-bottom:40px;
}
.input-7:active, :hover, :focus{
    outline:0;
    outline-offset: 0;
}
.text-area-7{
    width:300px;
    height:92px;
    color:#333333;
    font-size:16px;
    font-weight: 400;
    border:1px solid #333333;
    margin-bottom:40px;
}
.text-area-7:active, :hover, :focus{
    outline:0;
    outline-offset: 0;
}
input::placeholder{
    font-family: playfair display,serif;
}
input{
    padding-left:25px;
    font-family: 'Courier New', Courier, monospace;
}
textarea::placeholder{
    font-family: playfair display,serif;
}
textarea{
    padding-left:25px;
    padding-top:15px;
    font-family: 'Courier New', Courier, monospace;
}
.post-button{
    width:300px;
    height:64px;
    background-color: #333333;
    color: #FFFFFF;
    font-size:18px;
    letter-spacing: 2px;
    font-weight: 400;
    border:none;
    transition:.75s;
    cursor: pointer;
}
.post-button:hover{
    transition: .5s;
    background-color: #FFFFFF;
    color: #333333;
    border:solid 1px #333333;
}
.policy-text{
    text-align: center;
    font-size:12px;
    font-weight: 400;
    color:#333333;
    margin-top:12px;
}
.footer{
    width:100%;
    height:50px;
    background-color:#333333;
    color:#FFFFFF;
    font-size:12px;
    font-weight: 400;
    letter-spacing: 2px;
    position:absolute;
    bottom: 0;
}
.footer-text{
    padding-right:20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 50px;
}